body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); /* Degradado más masculino */
    color: white;
}

.container {
    text-align: center;
    background: #1c2833; /* Fondo sólido masculino */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.hidden {
    display: none;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #37474f;
    background-image: linear-gradient(45deg, #37474f, #455a64);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #455a64;
    background-image: linear-gradient(45deg, #455a64, #37474f);
}

input, select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    background: #2f3e46;
    color: white;
}

input::placeholder {
    color: #ddd;
}
